<div class="container bg bg-light mx-auto max-width-600 mt-3 border border-light rounded px-0">
    <header class="bg bg-dark border rounded-top">
        <p class="text-white mx-2 my-1">Login <i class="fas fa-sign-in-alt"></i></p>
    </header>
    <form class="mx-3 my-3">
        <legend>Faça seu login</legend>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="usuario">Usuário:</label>
                    <input type="text" name="usuario" id="usuario" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control">
                </div>
            </div>
        </div>
    </form>
</div>